.ourServices {
  background: var(--light-grey);
  padding: 4.5rem 0;

  & > .wrapper {
    max-width: var(--max-width);
    margin: auto;

    & > .title {
      font-size: 3rem;
      font-weight: 500;
      position: relative;
      text-align: center;
      width: max-content;
      margin: auto;

      & > span {
        color: var(--main-blue);
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -15px;
        height: 2.5px;
        background: var(--main-blue);
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: grow-shrink 2s infinite ease-in-out;
      }

      @keyframes grow-shrink {
        0% {
          width: 80%;
        }
        50% {
          width: 20%;
        }
        100% {
          width: 80%;
        }
      }
    }

    & > .desc {
      margin: 3rem 0;
      opacity: 0.8;
      font-size: 1.05rem;
      line-height: 1.6;
      text-align: center;
    }

    & > .allServices {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & > .eachService {
        height: max-content;
        aspect-ratio: 1/1.2;
        padding: 1.5rem;
        background: var(--main-grey);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 20%;

        & > .icon {
          border-radius: 50%;
          background: var(--main-blue);
          width: 4rem;
          aspect-ratio: 1/1;
        }

        & > .title {
          font-size: 1.4rem;
          font-weight: 500;
        }

        & > .desc {
          opacity: 0.8;
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .ourServices {
    padding: 1rem;

    & > .wrapper {
      & > .allServices {
        flex-direction: column;

        & > .eachService {
          max-width: none;
          aspect-ratio: unset;
        }
      }
    }
  }
}
